

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">残業申請</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <table class="table table-bordered table-condensed user-table">
            
            <tr>
              <td>日付</td>
              <td>曜日</td>
              <td>終了時間</td>
              <td>翌日</td>
              <td>業務処理内容</td>
              <td>指示書確認㊞</td>
            </tr>
            <tr>
              <td><%="date"%></td>
              <td><%="wday"%></td>
              <td><%=""%></td>
              <td><%=""%></td>
              <td><%=""%></td>
              <td><%=""%></td>
              
            </tr>
          </table>
          

            <div class="center">
              
              <button type="button" class="btn btn-default btn-over-time" data-dismiss="modal">
                キャンセル
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>