<% provide(:title, 'All Users') %>
  <% if params[:search].present? %>
    <h1>検索結果</h1>
  <% else %>
    <h1>ユーザー一覧</h1>
  <% end %>
  
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file, id: "file_input", onchange: "file_selected($(this));"%>
    <%= text_field_tag 'filename',"", id: "filename", disabled: true %>
    
    <%= submit_tag "CSVをインポート", class: "btn btn-primary" %>
  <% end %>
    

    
  
<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table>
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>メール</th>
      <th>所属</th>
      <th>社員番号</th>
      <th>カードID</th>
      <th>パスワード</th>
      <th>基本勤務時間</th>
      <th>指定勤務開始時間</th>
      <th>指定勤務終了時間</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.affiliation %></td>
        <td><%= user.employees_number %></td>
        <td><%= user.public_uid %></td>
        <td><%= user.password %></td>
        <td><%= user.basic_work_time %></td>
        <td><%= user.designated_work_start_time %></td>
        <td><%= user.designated_work_end_time %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
  <% will_paginate %>
</div>

<!--モーダルウインドウ-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" area-hidden="true"></div>
