<% provide(:title, 'All Users') %>
  <% if params[:search].present? %>
    <h1>検索結果</h1>
  <% else %>
    <h1>ユーザー一覧</h1>
  <% end %>
  
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file, id: "file_input", onchange: "file_selected($(this));"%>
    
    <%= submit_tag "CSVをインポート", class: "btn btn-primary" %>
  <% end %>
    

    
  
<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <p>Example</p>
    <% @users.each do |user| %>
      <tr>
        
      <td><%= user.name %></td>
        <% if current_user.admin? && !current_user?(user) %>
          <%= link_to "削除", user, method: :delete,
              data: { confirm: "削除してもよろしいですか？"}, class: "btn btn-danger" %>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= user.id %>">
                    <button type="submit" class="btn btn-primary">編集</button>
                  </a>
                </h4>
              </div>
              <div id="collapse<%= user.id %>" class="panel-collapse collapse in">
                <ul class="lost-group"><%= render 'users/form' %></ul>
              </div>
            </div>
          </div>
      </tr>
    <% end %>
  <thead>
    <tr>
      <th>ID</th>
      <th><%= User.human_attribute_name :name %></th>
      <th><%= User.human_attribute_name :email %></th>
      <th><%= User.human_attribute_name :affiliation %></th>
      <th><%= User.human_attribute_name :employees_number %></th>
      <th><%= User.human_attribute_name :public_uid %></th>
      <th><%= User.human_attribute_name :password %></th>
      <th><%= User.human_attribute_name :basic_work_time %></th>
      <th><%= User.human_attribute_name :designated_work_start_time %></th>
      <th><%= User.human_attribute_name :designated_work_end_time %></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.affiliation %></td>
        <td><%= user.employees_number %></td>
        <td><%= user.public_uid %></td>
        <td><%= user.password %></td>
        <td><%= user.basic_work_time %></td>
        <td><%= user.designated_work_start_time %></td>
        <td><%= user.designated_work_end_time %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
  <% will_paginate %>
</div>

<!--モーダルウインドウ-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" area-hidden="true"></div>
